Iservices:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
      - "3001:3001"
    env_file:
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
